.container {
  display: flex;
  height: 680px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: #efae02 solid;
  position: relative; 
}

.darkContainer {
  background-color: #000000;
}

.lightContainer {
  background-color: #ffffff;
  border-bottom: #a27b5c solid;
}
.headingDark {
    font-size: 50px;
    width:max-content;
    text-align: center;
    color: white;
  }

  .headingLight {
    font-size: 50px;
    width:max-content;
    text-align: center;
      color: #333333;
  }

.spanlight {
  color: rgb(0, 0, 0);
}

.ptaglight {
  color: rgb(0, 0, 0);

}

.ptagdark {
  color: rgb(255, 255, 255);
}


.resumeBtnDark {
  color: white;
  border-color: #efae02;
  background-color: transparent;
}

.resumeBtnLight {
  color: #000000;
  font-weight: 600;
  border-color: #000000;
  background-color: #f0f0f0;
}

.imageBottom {
  position: absolute;
  width: 500px;
  bottom: 0; 
  left: 50%;

}

@media (min-width: 0px) and (max-width: 500px) {

  .imageBottom{
    width: 240px;
  }

 .ptagdark,.ptaglight{
  width: max-content;
  font-size: 20px;
 }


  .headingDark {
    font-size: 25px;
    width:max-content;
    text-align: center;
  }

  .headingLight {
    font-size: 25px;
    width:max-content;
    text-align: center;
  }
  .container{

    height: 500px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {

.imageBottom{
  width: 300px;
}
  .headingDark {
    font-size: 40px;
    width: 400px;
    text-align: center;
  }

  .headingLight {
    font-size: 40px;
    width: 400px;
    text-align: center;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .headingDark,
  .headingLight {
    width: 800px;
    text-align: center;
  }
}

.backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}



