.container {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: #efae02 solid;
  position: relative; /* Add this to make absolute positioning work relative to .container */
}

.darkContainer {
  background-color: #000000;
}

.lightContainer {
  background-color: #ffffff;
  border-bottom: #a27b5c solid;
}
.headingDark {
    font-size: 50px;
    width:max-content;
    text-align: center;
    color: white;
  }

  .headingLight {
    font-size: 50px;
    width:max-content;
    text-align: center;
      color: #333333;
  }



.spanlight {
  color: rgb(0, 0, 0);
}

.ptaglight {
  color: black;
  font-weight: 500;
}

.ptagdark {
  color: white;
}


.resumeBtnDark {
  color: white;
  border-color: #efae02;
  background-color: transparent;
}

.resumeBtnLight {
  color: #333333;
  border-color: #000000;
  background-color: #f0f0f0;
}

.imageBottom {
  position: absolute;
  bottom: 0; /* Aligns to the bottom */
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%); /* Ensures perfect centering */
}

@media (min-width: 0px) and (max-width: 500px) {

 .ptagdark,.ptaglight{
  width: max-content;
  font-size: 20px;
 }


  .headingDark {
    font-size: 25px;
    width:max-content;
    text-align: center;
  }

  .headingLight {
    font-size: 25px;
    width:max-content;
    text-align: center;
  }
  .container{

    height: 500px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {


  .headingDark {
    font-size: 40px;
    width: 400px;
    text-align: center;
  }

  .headingLight {
    font-size: 40px;
    width: 400px;
    text-align: center;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .headingDark,
  .headingLight {
    width: 800px;
    text-align: center;
  }
  

}

@media (min-width:500px) and (max-width:600px)  {

  .container{
    height: 650px;
  }
  
}


@media(min-width:600px) and (max-width:700px) {

  .container{
    height: 640px;
  }
  
}
@media(min-width:700px){

  .container{
    height: 740px;
  }
  
}


