

.react-icon-container {
  position: absolute;
  bottom: 25%;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .react-icon-container {
    bottom: 15%;
    left: 10%;
  }

  .react-icon-container svg {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .react-icon-container {
    bottom: 20%;
    left: 15%; 
  }

  .react-icon-container svg {
    font-size: 45px;
  }
}