

.html-icon-container {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 70px;
}


@media (min-width:0px) and (max-width: 500px){
  .html-icon-container {
   position: absolute;
    bottom: 10%;
    height: 30px;
    width: 30px;
    left: 10%;
    right: auto;
    z-index: 900;
  }

 
}

@media (min-width: 500px) and (max-width: 800px){
.html-icon-container{
  position: absolute;
    bottom: 5%;
    height: 40px;
    width: 40px;
    left: 10%;
    right: auto;
    z-index: 900;
}


}