.js-icon-container {
  position: absolute;
  bottom: 10%;
  right: 10%;
  height: 70px;
  width: 70px;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .js-icon-container {
    bottom: 15%;
    left: 10%;
  }

  .js-icon-container svg {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .js-icon-container {
    position: absolute;
    /* Already defined, but good to ensure */
    bottom: 10%;
    height: 30px;
    width: 30px;
    right: 10%;
    /* Adjust for very small screens */
    left: auto;
    z-index: 900;
  }
}